/* Template */
.masthead a, .masthead a:visited {
    color: #666;
}
.masthead nav a, .masthead nav a:visited {
    color: #0FA0CE;
}
nav {
    display: none;
}
nav.active {
    display: block;
}
nav ul {
    padding-left: 2rem;
    list-style: none;
}
@media only screen and (min-width: 550px) {
    nav ul li, nav ul li h3 {
        display: inline-block;
        margin: 0 0 0 1rem;
    }
}
.first-col {
    margin-top: 5%;
}
.second-col {
    margin-top: 10%
}
@media only screen and (min-width: 550px) {
    .first-col, .second-col {
        margin-top: 5%
    }
}
footer {
    padding: 3rem;
    margin: 3rem 0 0 0;
    background-color: #ccc;
    text-align: center;
}

/* Frontpage */
.receipt-content {
    padding: 2rem 0;
    background: url("../images/receipt_bg_large.png");
    background-size: cover;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 1.5rem;
    color: rgba(29, 29, 39, 0.9);
}
.receipt-content a {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.9);
}
.receipt-content a:hover {
    color: #0FA0CE;
    text-decoration: underline;
}
@media only screen and (min-width: 550px) {
    .receipt-content {
        font-size: 2rem;
    }
}
.teasers {
    margin: 2rem 0;
}
.teasers img {
    display: block;
    width: 100%;
}
.teasers a {
    display: block;
    margin: 1rem 0;
    border: 1px solid #1EAEDB;;
}
.teasers a:hover {
    border: 1px solid #CCC;
    opacity: .5;
}
.progress {
    margin-top: 20%;
}
.entry {
    margin: 6rem 0;
}


/* Chart */
.datapoint:hover {
    cursor: pointer;
}
.datapoint:hover text {
    color: #0FA0CE;
}
.datapoint:hover .dot {
    opacity: .6;
}
.datapoint-label {
    color: red;
}

.zoomtangle {
    cursor: pointer;
}
.zoomtangle rect {
    stroke: #A3B9C9;
    stroke-width: 2;
    fill: #666;
    fill-opacity: 0.2;
}
.zoomtangle:hover rect {
    stroke: #987D7C;
    fill-opacity: 0.1;
}
.zoomtangle-label {
    color: #A3B9C9;
}
.zoomtangle:hover .zoomtangle-label {
    color: #987D7C;
}

.sankey-label {
    font-weight: bold;
}
.column-label {
    font-weight: bold;
    font-size: 120%;
}

/* Service Cards */
@media only screen and (min-width: 550px) {
    .cards-container {
        display: flex;
    }
}
.service-card {
    border: 1px solid #666;
    padding: 1rem;
    margin: 0 1rem 1rem 0;
    flex: 50%;
}
.service-card h6 {
    margin: 0;
}
.service-card .pie-charts {
    display: flex;
}
.service-card .pie-charts .pie-container {
    flex: 50%;
    text-align: center;
    margin-right: 1rem;
}
.service-card .pie-charts .pie-container .label {
    font-size: 80%;
}
.service-card .pie-charts .pie-container svg {
    margin: auto;
}
